<h2 mat-dialog-title>Log In</h2>

<div *ngIf="!loggedIn else alreadyLoggedIn">
<mat-dialog-content>

    <form [formGroup]="form" (submit)="submitForm()">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email:</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password:</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>

        <div *ngIf="logInFailed">
            <label style="color: red">Invalid credentials</label>
        </div>
    
        <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Log In</button>
    
    </form>    

</mat-dialog-content>
  
</div>



<ng-template #alreadyLoggedIn>
    <div> You are already Logged In</div>
</ng-template>