<div *ngIf="!loggedIn else alreadyLoggedIn">
    <form [formGroup]="form" (submit)="submitForm()">
        <div>
            <label for="name">Email</label>
            <input type="email" name="email" formControlName="email"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password"/>
        </div>
        <div *ngIf="logInFailed">
            <label style="color: red">Invalid credentials</label>
        </div>
        <div>
            <button [disabled]="!form.valid" type="submit">Sign In</button>
        </div>
    </form>    
</div>


<ng-template #alreadyLoggedIn>
    <div> You are already Logged In</div>
</ng-template>