<form [formGroup]="form" (ngSubmit)="submitForm()">

    <h2> Sleep Log Details</h2>
  
    <div>
      <label for="startDate">Start Date: </label>
      <input class="input" id="startDate" type="datetime-local" name="startDate" formControlName="startDate">
    </div>
  
    <div>
      <label for="endDate">End Date: </label>
      <input class="input" id="endDate" type="datetime-local" name="endDate" formControlName="endDate">
    </div>
  
    <div>
      <label for="comments">Comments: </label>
      <textarea class="input" id="comments" formControlName="comments" rows="3" required></textarea>
    </div>

    <div>
      <label for="userName">User Name: </label>
      <input class="input" id="userName" type="text" name="userName" formControlName="userName">
    </div>
  
    <div>
      <button type="button" (click)="close()">Cancel</button>
      <input type="submit" value="Create">
    </div>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start Date:</mat-label>
      <input type="datetime-local" matInput formControlName="startDate">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>End Date:</mat-label>
      <input type="datetime-local" matInput formControlName="endDate">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comments:</mat-label>
      <input matInput formControlName="comments">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>User Name:</mat-label>
      <input matInput formControlName="userName">
    </mat-form-field>
  
    <div class="example-button-row">
      <button mat-flat-button color="warn" (click)="close()">Cancel</button>
      <button mat-flat-button color="primary" type="submit"> Create</button>
    </div>

  </form>