<div> 
    <button (click)="CreateLog = true"> Create</button>
</div>

<div>
    <table *ngIf="SleepLogs.length > 0; else EmptyList">
        <thead>
            <tr>
                <th> Start Date</th>
                <th> End Date</th>
                <th> Duration </th>
                <th> Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of SleepLogs">
                <td> {{log.startDate}}</td>
                <td> {{log.endDate}}</td>
                <td> {{log.duration}}</td>
                <td> {{log.comments}}</td>
                <td>
                    <button (click)="setSleepLog(log)"> Details</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button (click)="previousPage()"> Previous</button>
        <button (click)="nextPage()"> Next</button>
    </div>

</div>

<app-sleep-log-details *ngIf="SelectedLog != undefined" [sleepLog]="SelectedLog" (closed)="closeDetails($event)"></app-sleep-log-details>


<app-sleep-log-create *ngIf="CreateLog" (closed)="closeCreate($event)"></app-sleep-log-create>

<ng-template #EmptyList>
    <h3> No logs found</h3>
</ng-template>