<div> 
    <button (click)="CreateLog = true"> Create</button>
</div>

<div>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.endDate}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.duration}} </td>
        </ng-container>

        <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef> Comments </th>
            <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.comments}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator [pageSizeOptions]="[5]"
        [length]="totalData"
        [hidePageSize]="true"
        showFirstLastButtons
        (page)="onChangePage($event)">
    </mat-paginator>

</div>

<app-sleep-log-details *ngIf="SelectedLog != undefined" [sleepLog]="SelectedLog" (closed)="closeDetails($event)"></app-sleep-log-details>
<app-sleep-log-create *ngIf="CreateLog" (closed)="closeCreate($event)"></app-sleep-log-create>

<ng-template #EmptyList>
    <h3> No logs found</h3>
</ng-template>